
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: darkgray;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 8px;
    font-size: 19px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: red;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: darkred;
}

.portfolio-item img {
    height: 480px;
    margin-bottom: 29px;
}

.portfolio-item li {
    display: inline;
    margin-right: 8px;
}

.portfolio-item li a {
text-decoration: none;
}

.container {
    display: block
}

#direitos .container{
    text-align: center;
}